<!DOCTYPE html5>
<html>
    <head>
        <title>ProductListingSystem</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-route.js"></script>
        <link rel="stylesheet" href="index.css">
    </head>
    <body ng-app="">
        <div class="topnav">
            <div class="menu-icon">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
            <p>Welcome Farmer Name!!</p>
        </div>
        <div class="product-modify">
            <a href="">Add</a>
            <a href="">View</a>
            <a href="">Manage</a>
        </div>
        <div ng-route></div>
    </body>
</html>