@import url(https://fonts.googleapis.com/css?family=Merriweather);
@import url(https://fonts.googleapis.com/css?family=Lato);
html{
    background-color: #f8fffe;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
}

.topnav {
    background-color: #080c0ee8;
    overflow: hidden;
    font-size: 1.5vw;
}

.topnav .menu-icon, p {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.25s ease-in;
}

.menu-icon {
    float: left;
    cursor: pointer;
}

/* Style for the individual lines in the icon */
.line {
    width: 30px;
    height: 3px;
    background-color: white;
    /* Change the color as needed */
    margin: 6px 0;
}

.product-modify {
    display: flex;
    justify-content: space-evenly;
    margin: 1% 0;
}

.product-modify a {
    text-decoration: none;
    float: left;
    color: black;
    border: 2px solid black;
    border-radius: 20px;
    padding: 1% 2%;
    font-size: 1.7vw;
}

.product-modify a:hover {
    background-color: #333;
    transition: 300ms;
    color: azure;
}